:root {

    /*colors*/
    --primary-red: #eb4f61;
    --primary-main: #4a4a4a;
    --secondary-main: #45c0d6;
    --text-main: #f6f2f7;
    --white: #fff;
    --black: #000;

    /*font-family:*/
    --oswald: "oswald", "arial", "sans-serif";
    --barlow: "barlow", "arial", "sans-serif";
}