@import "app.css";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  list-style: none;
}

body {
  padding-bottom: 100px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--primary-red);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding: 20px;
}
.header .header__logo {
  height: 75px;
}
.header .header__logo .header__logo__img {
  width: 100%;
  height: 100%;
}

.burger-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20px, 30px);
  z-index: 100;
}
.burger-menu-icon .burger-menu-icon__line {
  width: 36px;
  height: 3px;
  background-color: var(--white);
  margin-bottom: 7px;
  border-radius: 5px;
}
.burger-menu-icon .burger-menu-icon__line:last-child {
  margin-bottom: 0;
}

.burger-menu-screen {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: var(--primary-red);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s ease;
}
.burger-menu-screen .burger-menu-screen__inner {
  padding: 50px;
}
.burger-menu-screen .burger-menu-screen__inner .burger-menu-screen__list .burger-menu-screen__list__each {
  color: var(--white);
  font-family: var(--oswald);
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.burger-menu-screen .burger-menu-screen__inner .burger-menu-screen__list .burger-menu-screen__list__each:last-child {
  margin-bottom: 0;
}

.active-burger-menu-screen {
  right: 0;
}

.main {
  background-image: url("../images/background.png"), linear-gradient(to bottom right, #5a72fc, #fb4d4d);
  background-color: #5a72fc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 110vh;
  padding: 0 20px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  z-index: 1;
}
.main .main__title {
  position: relative;
  padding-bottom: 40px;
}
.main .main__title .main__title__text {
  font-family: var(--oswald);
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 400;
}
.main .main__title:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  content: "";
  width: 60px;
  height: 1px;
  background: var(--white);
}
.main .main__description {
  margin-top: 40px;
}
.main .main__description .main__description__text {
  color: var(--white);
  font-family: var(--barlow);
  font-weight: 400;
  font-size: 2.3rem;
}
.main .main__arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
.main .main__arrow-down .main__arrow-down__self {
  color: var(--secondary-main);
  font-size: 5rem;
  animation: 1.5s linear infinite arrow;
  cursor: pointer;
}

.help {
  padding-top: 100px;
  position: relative;
  z-index: 10;
  margin-bottom: -10px;
}
.help .help__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 90px;
}
.help .help__info .help__info__title {
  color: var(--primary-main);
  font-size: 4.1rem;
  font-family: var(--oswald);
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 50px;
}
.help .help__info .help__info__description {
  color: var(--primary-main);
  font-family: var(--barlow);
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 50px;
}
.help .help__info .help__info__circle {
  position: relative;
}
.help .help__info .help__info__circle .help__info__circle__icon {
  color: var(--secondary-main);
}
.help .help__info .help__info__circle:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(50%, 0px);
}
.help .help__info .help__info__circle:before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, 0px);
}
.help .help__cards .help__cards__inner {
  padding: 0 25px;
}
.help .help__cards .help__cards__inner .help__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--text-main);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
  padding: 80px 36px;
  background-color: var(--white);
}
.help .help__cards .help__cards__inner .help__card .help__card__title {
  margin-bottom: 40px;
}
.help .help__cards .help__cards__inner .help__card .help__card__title .help__card__title__text {
  font-size: 1.6rem;
  color: var(--primary-main);
  font-family: var(--oswald);
  font-weight: 300;
  text-transform: uppercase;
}
.help .help__cards .help__cards__inner .help__card .help__card__description {
  margin-bottom: 70px;
}
.help .help__cards .help__cards__inner .help__card .help__card__description .help__card__description__text {
  color: #b0b0b0;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--barlow);
  line-height: 25px;
}
.help .help__cards .help__cards__inner .help__card .help__card__button .help__card__button__self {
  font-family: var(--barlow);
  color: var(--white);
  background-color: var(--secondary-main);
  padding: 16px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 4px;
}
.help .help__cards .help__cards__inner--blue {
  padding: 0 10px;
}
.help .help__cards .help__cards__inner--blue .help__card--blue {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  background: linear-gradient(to bottom right, #7bb0e7, #4ecac2);
}
.help .help__cards .help__cards__inner--blue .help__card--blue .help__card__title--blue .help__card__title__text--blue {
  color: var(--white);
  font-size: 1.8rem;
}
.help .help__cards .help__cards__inner--blue .help__card--blue .help__card__description--blue .help__card__description__text--blue {
  color: var(--white);
  font-size: 1.6rem;
}
.help .help__cards .help__cards__inner--blue .help__card--blue .help__card__button--blue .help__card__button__self--blue {
  background-color: transparent;
  font-size: 1.4rem;
  border: 3px solid var(--white);
}

.service {
  background-color: #00ccc4;
  background-repeat: no-repeat;
  background-image: url("../images/background.png"), linear-gradient(45deg, #00ccc4, #69b2e8);
  background-position: 50% 50%;
  background-attachment: scroll;
  clip-path: polygon(0 0, 100% 0, 100% 99%, 0% 100%);
  padding: 150px 20px;
}
.service .service__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 150px;
}
.service .service__info .service__info__title {
  color: var(--white);
  font-size: 4.3rem;
  font-family: var(--oswald);
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 50px;
}
.service .service__info .service__info__description {
  color: var(--white);
  font-family: var(--barlow);
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 40px;
}
.service .service__info .service__info__circle {
  position: relative;
}
.service .service__info .service__info__circle .service__info__circle__icon {
  color: rgba(255, 255, 255, 0.7);
}
.service .service__info .service__info__circle:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(50%, 0px);
}
.service .service__info .service__info__circle:before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, 0px);
}
.service .service__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service .service__item .service__item__row .service__item__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 50px;
  margin-bottom: 60px;
}
.service .service__item .service__item__row .service__item__box .service__item__box__icon {
  color: var(--white);
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.service .service__item .service__item__row .service__item__box .service__item__box__title {
  color: var(--white);
  font-size: 1.8rem;
  font-family: var(--oswald);
  margin-bottom: 10px;
}
.service .service__item .service__item__row .service__item__box .service__item__box__description {
  color: rgba(255, 255, 255, 0.49);
  font-size: 1.4rem;
  font-family: var(--oswald);
}
.service .service__item .service__item__row .service__item__box:last-child {
  margin-bottom: 0;
}

.meet {
  padding: 150px 10px;
}
.meet .meet__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 120px;
}
.meet .meet__info .meet__info__title {
  color: var(--primary-main);
  font-size: 4.1rem;
  font-family: var(--oswald);
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 50px;
}
.meet .meet__info .meet__info__description {
  color: var(--primary-main);
  font-family: var(--barlow);
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 50px;
}
.meet .meet__info .meet__info__circle {
  position: relative;
}
.meet .meet__info .meet__info__circle .meet__info__circle__icon {
  color: var(--secondary-main);
}
.meet .meet__info .meet__info__circle:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(50%, 0px);
}
.meet .meet__info .meet__info__circle:before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, 0px);
}
.meet .meet__team .meet__team__main {
  margin-bottom: 80px;
}
.meet .meet__team .meet__team__main .meet__team__main__card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 40px;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__img .meet__team__main__card__img__self {
  border-radius: 2px;
  width: 100%;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__img--exception {
  margin-bottom: 10px;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__social {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid #cdcdcd;
  border-top: none;
  border-radius: 2px;
  width: 100%;
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__social .meet__team__main__card__social__icon {
  color: var(--white);
  background-color: #919191;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8rem;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__social--exception {
  display: none;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__text {
  width: 100%;
  text-align: left;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__text .meet__team__main__card__text__title {
  color: var(--primary-main);
  font-family: var(--oswald);
  font-size: 2.4rem;
  margin-bottom: 10px;
}
.meet .meet__team .meet__team__main .meet__team__main__card .meet__team__main__card__text .meet__team__main__card__text__description {
  color: #b0b0b0;
  font-family: var(--barlow);
  font-size: 1.5rem;
  font-weight: 300;
}
.meet .meet__team .meet__team__main--sub {
  margin-bottom: 60px;
}
.meet .meet__team .meet__team__main--sub .meet__team__main__card .meet__team__main__card__social .meet__team__main__card__social__icon--skype {
  font-size: 1.4rem;
}
.meet .meet__team .meet__team__main--sub .meet__team__main__card .meet__team__main__card__social .meet__team__main__card__social__icon--facebook {
  font-size: 1.1rem;
}
.meet .meet__team .meet__team__main--sub .meet__team__main__card .meet__team__main__card__social .meet__team__main__card__social__icon--youtube-etc {
  font-size: 1.4rem;
  margin-left: 10px;
}
.meet .meet__team .meet__team__main--sub .meet__team__main__card .meet__team__main__card__social .meet__team__main__card__social__icon--youtube-etc:first-child {
  margin-left: 0;
}

.motto {
  background: linear-gradient(to bottom right, #3edbac, #16a6e8);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 20px;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  margin-bottom: 120px;
}
.motto .motto__title {
  margin-bottom: 40px;
}
.motto .motto__title .motto__title__text {
  color: var(--white);
  font-family: var(--oswald);
  font-size: 4.4rem;
  font-weight: 400;
}
.motto .motto__description {
  margin-bottom: 80px;
}
.motto .motto__description .motto__description__text {
  color: var(--white);
  font-family: var(--barlow);
  font-size: 2.4rem;
  line-height: 38px;
}
.motto .motto__button {
  margin-bottom: 50px;
}
.motto .motto__button .motto__button__self {
  color: var(--white);
  border: 3px solid var(--white);
  padding: 14px 30px;
  border-radius: 3px;
  font-size: 1.3rem;
  font-family: var(--barlow);
  text-transform: uppercase;
}
.motto .motto__image .motto__image__self {
  width: 100%;
}

.swiper {
  padding: 0 60px;
}
.swiper .swiper__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 120px;
}
.swiper .swiper__info .swiper__info__title {
  color: var(--primary-main);
  font-size: 4.1rem;
  font-family: var(--oswald);
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 50px;
}
.swiper .swiper__info .swiper__info__description {
  color: var(--primary-main);
  font-family: var(--barlow);
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 50px;
}
.swiper .swiper__info .swiper__info__circle {
  position: relative;
}
.swiper .swiper__info .swiper__info__circle .swiper__info__circle__icon {
  color: var(--secondary-main);
}
.swiper .swiper__info .swiper__info__circle:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(50%, 0px);
}
.swiper .swiper__info .swiper__info__circle:before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--secondary-main);
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, 0px);
}
.swiper .swiper__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.swiper .swiper__content .swiper__content__description {
  margin-bottom: 20px;
}
.swiper .swiper__content .swiper__content__description .swiper__content__description__text {
  color: #b0b0b0;
  font-family: var(--barlow);
  font-size: 1.7rem;
  text-align: center;
  line-height: 26px;
  padding: 0 30px;
}
.swiper .swiper__content .swiper__content__img {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.swiper .swiper__content .swiper__content__img .swiper__content__img__self {
  width: 100%;
  border-radius: 50%;
}
.swiper .swiper__content .swiper__content__text .swiper__content__text__title {
  color: var(--primary-main);
  font-size: 1.8rem;
  font-family: var(--barlow);
  margin-bottom: 8px;
}
.swiper .swiper__content .swiper__content__text .swiper__content__text__role {
  color: #919191;
  font-family: var(--barlow);
  font-weight: 500;
  font-size: 1.2rem;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  20% {
    transform: translateY(20%);
    opacity: 0.5;
  }
  40% {
    transform: translateY(40%);
    opacity: 0.8;
  }
  60% {
    transform: translateY(60%);
    opacity: 1;
  }
  80% {
    transform: translateY(80%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
